{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "globals": {
    "browser": true,
    "$": true,
    "before": true,
    "document": true
  }
}
